<body class="constantimg">
  <div class="row">
    <div class="col-md-4">
      <h2>Latest Matches</h2>
      <ul>

        <% @matches.each do |match| %>

        <li><%= link_to "#{match.home_team.name} vs #{match.away_team.name}", match_path(match) %> </li>

      <% end %>

      <ul>
    </div>
  <div class="col-md-4">
    <h2>Live Scores</h2>

    <%= @groups.each do |group| %>

      <%= group.search('.mod-header h2 a').text %><br />

      <%= group.search('tr').each do |score| %>
        <%= score.search('.status a').text %>
        <%= score.search('.scores a').text %>
        <%= score.search('.home_team a').text %>
        <%= score.search('.away_team a').text %><br /><br />
      <% end %>
    <% end %>
  </div>  
  <div class="col-md-4">
    <h1>All Matches</h1>
      <ul>

        <% @all_matches.each do |match| %>

          <li><%= link_to "#{match.home_team.name} vs #{match.away_team.name}", match_path(match) %> </li>

      <% end %>
      </ul>
  </div>
  </div>
</body>
