<h1><%= "Match Day #{@match.id}" %></h1>

<p>
  <strong>Match Date:</strong>
  <%= @match.schedule_date %>
</p>

<p>
  <strong>Home Team:</strong>
  <%= @match.home_team.name %>
</p>

<p>
  <strong>Away Team</strong>
  <%= @match.away_team.name %>
</p>

<p>
  <strong>Half Time Score</strong>
  <%= @match.half_time %>
</p>

<p>
  <strong>Full Time Score</strong>
  <%= @match.full_time %>
</p>

<div>
  <h3>Ranking</h3>
  <%= simple_form_for @match do |f| %>
    <%= f.input :ranking, collection: Match.rankings %>
  <% end %>
</div>

  <%= simple_form_for [@match, @vote] do |f| %>
    <div id="upvote">
      <%= f.hidden_field :value, value: 1 %>
      <%= f.button :submit, "+" %>
    </div>
  <% end %>
    <%= @match.total_rank %>
      <%= simple_form_for [@match, @vote] do |f| %>
        <div id="downvote"> 
          <%= f.hidden_field :value, value: -1 %>
          <%= f.button :submit, "-" %>
        </div>
      <% end %>  



<div>
  <h3>Comments</h3>
  <% if Comment.where(match_id: @match.id).exists? %>
  <% @comments.each do |comment| %>
    <p>
      <%= comment.body %>
      <%= comment.user.username %>
    </p>
  <% end %>
  <% end %>
  <% if current_user.present? %>
    <%= simple_form_for [@match, @comment] do |f| %>
      <%= f.input :body %>
      <%= f.submit 'Submit Comment' %>
    <% end %>
  <% else %>
    <%= link_to "Sign in to post comments", new_user_session_path %>
  <% end %>

</div>


