<div class="row">
  <div class="col-md-4">
  <%= image_tag @match.home_team.image_url, class: "logo" %>
  </div>
  <div class="col-md-4"><h1 id="versus"> vs </h1></div>
  <div class="col-md-4">
  <%= image_tag @match.away_team.image_url, class: "logo"  %>
</div>
</div>

<div class="row">
  <div class="col-md-4" id="home">
    <strong>Home Team:</strong>
    <%= @match.home_team.name %>
  </div>
  
  <div class="col-md-4" id="stats">
    <strong>Match Date:</strong>
    <%= @match.schedule_date %>
    
    <div>
      <strong>Half Time Score</strong>
      <%= @match.half_time %>
    </div>

    <div>
      <strong>Full Time Score</strong>
      <%= @match.full_time %>
    </div>
  </div>

  <div class="col-md-4" id="away">
    <strong>Away Team</strong>
    <%= @match.away_team.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <%= simple_form_for [@match, @vote] do |f| %>
    <div id="upvote">
      <%= f.hidden_field :value, value: 1 %>
      <%= f.button :submit, "+" %>
    </div>
  <% end %>
    <%= @match.total_rank %>
      <%= simple_form_for [@match, @vote] do |f| %>
        <div id="downvote"> 
          <%= f.hidden_field :value, value: -1 %>
          <%= f.button :submit, "-" %>
        </div>
      <% end %>  
  </div>
</div>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <h3>Comments</h3>
  <% if Comment.where(match_id: @match.id).exists? %>
  <% @comments.each do |comment| %>
    <p>
      <%= comment.body %>
      <%= comment.user.username %>
    </p>
  <% end %>
  <% end %>
  <% if current_user.present? %>
    <%= simple_form_for [@match, @comment] do |f| %>
      <%= f.input :body %>
      <%= f.submit 'Submit Comment' %>
    <% end %>
  <% else %>
    <%= link_to "Sign in to post comments", new_user_session_path %>
  <% end %>
  </div>
</div>


